* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    text-align: center;
    background-color: lightcoral;
    color: #fff;
    padding: 15px;
}

main {
    padding: 20px;
    background-color: lightblue;
    min-height: 80vh;
}

#loading {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: black;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
